@use '../../../../styles/constants/colors';

.optionTypeBox {
  margin-top: 20px 0;
}

.optionTypeIcon {
  width: 20px;
  height: 20px;
}

.options {
  width: 100%;
  margin-bottom: 5px;

  li {
    display: flex;
    align-items: center;
    margin-top: 5px;

    input {
      display: block;
      width: 100%;
      padding: 10px 5px;
      margin-left: 5px;
      font-size: 15px;

      &:hover {
        border-bottom: 1px dotted colors.$GRAY_02;
      }
    }
  }
}

.etcOption {
  p {
    width: 100%;
    padding: 10px 5px;
    margin-left: 5px;
    font-size: 13px;
    color: colors.$GRAY_03;

    &:hover {
      border-bottom: 1px dotted colors.$GRAY_02;
    }
  }
}

.optionInput {
  display: flex;
  align-items: center;
  width: 100%;
}

.xIcon {
  width: 20px;
  height: 20px;
  padding: 2px;
  cursor: pointer;

  &:hover {
    background: colors.$BACKGROUND;
    border-radius: 50%;
  }
}

.addOptions {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: colors.$GRAY_03;
}

.addOption {
  padding: 5px;
  margin: 0 3px 0 5px;
  cursor: text;

  &:hover {
    border-bottom: 1px solid colors.$GRAY_02;
  }
}

.addEtc {
  padding: 5px;
  color: colors.$KEY;

  &:hover {
    padding: 5px;
    background: colors.$BACKGROUND;
  }
}
