@use '../../../styles/constants/colors';
@use '../../../styles/mixins/textarea';

.title {
  @include textarea.textarea;
  padding: 10px 10px 5px;
  font-size: 30px;

  &:focus {
    border-bottom: 2px solid colors.$KEY;
  }
}

.description {
  @include textarea.textarea;
  height: 30px;
  padding: 10px 10px 2px;
  font-size: 15px;

  &:focus {
    border-bottom: 2px solid colors.$KEY;
  }
}
