@use '../../styles/mixins/form';
@use '../../styles/constants/colors';

.previewForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.titlePreview {
  @include form.titleForm;
}

.title {
  padding: 10px 10px 5px;
  font-size: 30px;
}

.description {
  padding: 10px;
  font-size: 15px;
  border-bottom: 1px solid colors.$GRAY_02;
}

.essentialItem {
  padding: 10px 10px 2px;
  font-size: 13px;
  color: colors.$NOTICE;
}

.questionPreviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.questionPreviewItem {
  @include form.containerForm;
  width: 100%;
}

.questionTitleBox {
  display: flex;
  align-items: center;
}

.essential {
  color: colors.$NOTICE;
}

.submitButton {
  align-self: start;
  padding: 10px 25px;
  color: colors.$WHITE;
  background: colors.$KEY;
  border-radius: 8px;
}

.warningIcon {
  width: 20px;
  height: 20px;
  fill: colors.$NOTICE;
}

.deleteAnswers {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  color: colors.$KEY;
  transition: 0.2s;

  &:hover {
    background: colors.$SUBKEY_02;
  }
}
