@use '../../../styles/constants/colors';
@use '../../../styles/mixins/option';

.checkBox {
  width: 100%;
  margin: 15px 0;
}

.checkBoxItem {
  display: flex;
  align-items: center;
  margin: 3px;

  label {
    padding: 10px 5px;
    margin-left: 5px;
  }

  input[type='text'] {
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin-left: 5px;
    font-size: 15px;

    &:hover {
      border-bottom: 1px dotted colors.$GRAY_02;
    }
  }
}

.etcOption {
  display: flex;
  align-items: center;

  input[type='text'] {
    width: 100%;
    padding: 10px 5px;
    margin-left: 5px;
    font-size: 14px;
    color: colors.$FONT;

    &:hover {
      border-bottom: 1px dotted colors.$GRAY_02;
    }
  }
}

.valueInput {
  display: flex;
  align-items: center;
  width: 100%;
}

.selectedAnswer {
  width: 100%;
  color: colors.$WHITE;
  background: colors.$SUBKEY_01;
  border-radius: 3px;
}

.warningIcon {
  width: 20px;
  height: 20px;
  fill: colors.$NOTICE;
}

.xIcon {
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-left: 5px;
  cursor: pointer;

  &:hover {
    background: colors.$BACKGROUND;
    border-radius: 50%;
  }
}
