@use '../../../styles/constants/colors';
@use '../../../styles/mixins/form';

.questionForm {
  @include form.containerForm;
}

.questionHeader {
  display: flex;
  align-items: center;
}

.question {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin-right: 10px;
  background: colors.$GRAY_00;
  border-bottom: 1px solid colors.$GRAY_03;

  &::placeholder {
    color: colors.$GRAY_03;
  }
}
